.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #000000;
  padding: 10px 0;
}

.marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
  font-size: 1.2rem;
  color: #ffffff;
}

@keyframes marquee {
  0% {
    transform: translateX(300%);
  }

  100% {
    transform: translateX(-100%);
  }
}
